<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %} Mid-morning safari{% endblock %}</title>
</head>
<body>
<header>
    <h1>{% block header %}Welcome to safari lab {% endblock %}</h1>

<nav>
    <ul>
        <li><a href="{% url 'Home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">about</a></li>
        <li><a href="{% url 'contact' %}">contact</a></li>
        <li><a href="{% url 'gallery' %}">gallery</a></li>
    </ul>
</nav>
</header>
<main>
    {% block content %} {% endblock %}
</main>
<footer>
    <p>&copy;2024 safarilab</p>
</footer>
</body>
</html>